*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Gilror", "Arial", sans-serif;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header-top {
    border-bottom: 1px solid #eeeeee;
}

.header-top__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 16px;
}

.header-top__addr {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    font-style: normal;
}

.header-top__addr-text {
    display: flex;
    align-items: center;
    margin-right: 29px;
}

.header-top__addr-text::before {
    content: "";
    width: 14px;
    height: 16px;
    display: block;
    background-image: url(../image/location.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 7px;
}

.header-top__addr-email {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.header-top__right {
    display: flex;
    align-items: center;
}

.header-top__addr-email::before {
    content: "";
    width: 20px;
    height: 16px;
    display: block;
    background-image: url(../image/mail.svg);
    background-repeat: no-repeat;
    margin-right: 7px;
}

.header-top__right-lang {
    background-color: transparent;
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../image/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center right;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    width: 57px;
}

.socials {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 31px;
}


.socials__item:not(:last-child) {
    margin-right: 20px;
}

.header-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-bottom__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__image {
    display: block;
    width: 217px;
    height: 50px;
}

.header-bottom__wrapper {
    max-width: 655px;
}

.header-bottom__wrapper {
    display: flex;
    align-items: center;
}

.nav {
    margin-right: 48px;
    display: flex;
}

.nav__link {
    font-style: normal;
    font-weight: 600;
    color: black;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    margin-right: 34px;
    white-space: nowrap;
}

.nav__link--active {
    color: #76a713;
}

.nav__link:last-child {
    margin-right: 0;
}

.login-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 30px;
    background-color: #76a713;
    text-decoration: none;
    margin-right: 10px;
}

.search-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../image/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    border: none;
    background-color: #eeeeee;
    margin-right: 10px;
}

.basket {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #eeeeee;
}

.basket__image {
    position: absolute;
    top: 17px;
    left: 13px;
}

.basket__counter {
    top: 8px;
    right: 7px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13px;
    height: 13px;
    background-color: #76a713;
    color: white;
    font-size: 8px;
    line-height: 10px;
    font-weight: 600;
    border-radius: 50%;
}

